/* Centralização do game-container */
#game-container {
    width: 100%; /* Ajuste conforme necessário */
    height: 100%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column; /* Alterado para coluna */
    justify-content: space-between; /* Espaço entre cabeçalho, conteúdo e rodapé */
    align-items: center; /* Centraliza horizontalmente */
    margin: 55px auto;
    padding: 20px;
    text-align: center;
}

/* Orientação */
.orientacao {
    height: 100%;
    display: flex;
    flex-direction: line;
    position: absolute; 
    align-items: flex-start;
    margin-right: 100%; /* Usando rem para margens */
    padding: 16px;
    border: 1px solid #ccc;
    background-color: rgba(250, 250, 249, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    z-index: 0;
}

/* Zoom de 50% */
@media (min-height: 600px) {
    body {
        zoom: 50%;
    }
}

.corpo-i{
    display: flex;
    overflow: hidden; /* Remove a barra de rolagem */
    flex-direction: column;
    min-height: 100vh;
    margin-top: 15px;
    padding: 12px;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/Logo.png'); /* Caminho para a imagem */
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/*Ajuste para zoom de 50%*/
@media (max-width: 1200px) {
.corpo-i { 
        background-size: 120% 250%;
    }    
}
  
/*Ajuste para zoom de 100%*/
@media (min-width: 1201px) {    
.corpo-i{
        background-size: 100% 260%;
    }
}

.controles {
    width: 750px;
    height: 150px;
    display: flex;
    flex-direction: row; /* Correção da direção */
    align-items: flex-start;
    margin-top: 7cm;
    margin: 70px auto;
    padding: 20px auto;
    background-color: transparent;
    box-shadow: #000 25px 20px 15px;
    border-radius: 10px;
}

.controles button {  
    border: outset 8px rgb(168, 168, 223);
    padding: 10px 10px;
    width: 270px;
    height: 100px;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 30px;
    font-weight: bold; /* Ajuste para negrito */
    background: linear-gradient(
    45deg,
    #006782 8%,
    #0b1284 10%,
    #760ea1 27%,
    #83096e 75%,
    #f8f7f5 100%
  );
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
  transition: 0.2s;
    color: white;
}

.controles button:hover {    
    background-color: lightseagreen;
    transform: scale(1.1);
}

.controles button:active {
    transform: scale(0.95);
}

header {
    top: 0px;
    position: absolute;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 55px;
    color: #ccc;
    box-shadow: inset 0 0 10px #000;
    background: radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.15) 30%,
          rgba(255, 255, 255, 0.3) 32%,
          rgba(255, 255, 255, 0) 33%
        )
        0 0,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.1) 11%,
          rgba(255, 255, 255, 0.3) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        0 0,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 17%,
          rgba(255, 255, 255, 0.43) 19%,
          rgba(255, 255, 255, 0) 20%
        )
        0 110px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 11%,
          rgba(255, 255, 255, 0.4) 13%,
          rgba(255, 255, 255, 0) 14%
        ) -130px -170px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 11%,
          rgba(255, 255, 255, 0.4) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        130px 370px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.1) 11%,
          rgba(255, 255, 255, 0.2) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        0 0,
      linear-gradient(
        45deg,
        #343702 0%,
        #184500 20%,
        #187546 30%,
        #006782 40%,
        #0b1284 50%,
        #760ea1 60%,
        #83096e 70%,
        #840b2a 80%,
        #b13e12 90%,
        #e27412 100%
      );
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
      530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
    background-blend-mode: overlay;
  }
  
footer {        
    width: 100%;
    position: absolute; /* Posição relativa */
    bottom: 2px; /* Alinha o rodapé ao fundo */
    text-align: center;
    font-size: 45px;
    padding: 12px;
    background: radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.15) 30%,
          rgba(255, 255, 255, 0.3) 32%,
          rgba(255, 255, 255, 0) 33%
        )
        0 0,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.1) 11%,
          rgba(255, 255, 255, 0.3) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        0 0,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 17%,
          rgba(255, 255, 255, 0.43) 19%,
          rgba(255, 255, 255, 0) 20%
        )
        0 110px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 11%,
          rgba(255, 255, 255, 0.4) 13%,
          rgba(255, 255, 255, 0) 14%
        ) -130px -170px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.2) 11%,
          rgba(255, 255, 255, 0.4) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        130px 370px,
      radial-gradient(
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.1) 11%,
          rgba(255, 255, 255, 0.2) 13%,
          rgba(255, 255, 255, 0) 14%
        )
        0 0,
      linear-gradient(
        45deg,
        #343702 0%,
        #184500 20%,
        #187546 30%,
        #006782 40%,
        #0b1284 50%,
        #760ea1 60%,
        #83096e 70%,
        #840b2a 80%,
        #b13e12 90%,
        #e27412 100%
      );
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
      530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
    background-blend-mode: overlay;
    color: white;
  }
  
footer:hover {
    transform: scale(1.1);
    box-shadow: 0 30px 30px rgba(255, 255, 255, 1);
    animation: spin 5s linear infinite;
    border-radius: 10%;
  }
  
  /* Ajuste de zoom para 50% */
@media (max-width: 1200px) {
    footer {  
      font-size: 45px;
      zoom: 0.7;
    }
  }
  
  /* Ajuste de zoom para 100% */
  @media (min-width: 1201px) {
    footer {
      font-size: 45px;
      zoom: 1;
    }
  }
  
h1 {  
    width: 100%;
    margin-top: 2px;
    font-size: 70px;
    padding: 2px;
    color: white;
    filter: drop-shadow(10px 10px 2px gray);
  }
  
  h1:hover {
    transform: scale(1.1);
    box-shadow: 0 30px 30px rgba(255, 255, 255, 1);
    animation: spin 5s linear infinite;
    border-radius: 40%;
  }

  /* Texto especial */
#tbem {
    margin: 30px auto;
    font-size: 45px;
    text-align: center;
    color: transparent;
    background-clip: text;
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
      45deg,
      #d7dd60 0%,
      #e4f52a 20%,
      #f3a322 30%,
      #f5511b 80%,
      #230f07 30%,
      #37094a 5%,
      #83096e 70%,
      #840b2a 80%,
      #623c59 90%,
      #ef0a0a 100%
    );
    text-shadow: 10px 4px 0px rgb(240, 232, 236);
}
  
#tbem:hover {
    transform: scale(1.1);
    text-shadow: 0 0.3125rem 0.3125rem white;
    animation: spin 5s linear infinite;
}

p {
  text-align: justify;
  margin: 25px auto;
  font-size: 30px;
  padding: 10px auto;
  font-style: bold;
  line-height: 1.6;
}

#corpo3 {
    top: 200px;
    margin: 5px;
    width: 100%;
    padding: 10px;
    position: relative;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(10, 2, 2, 0.6);
    border: 2px solid red;
    border-radius: 10px;
    color: white;
}

section {
    margin: 20px auto;
    height: 100%;
    width: 100%;
    padding: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas */
    gap: 100px 60px; /* Espaçamento entre as colunas */
    width: 40% 60% 40%;
}

#esquerda, #corpo3, #direita {
    margin: 10px;
    padding: 10px;
}

#esquerda{
    margin-left: 660px;
    width: 250px;
    height: 100%;
    display: flex;
    background-color: transparent; /* Cor de fundo para destaque */
    filter: invert(100%) opacity(0.9); /* Inverte as cores e ajusta a opacidade */
    filter: brightness(2) invert(1);  /* Cor de fundo para destaque */
}

#direita{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent; /* Cor de fundo para destaque */
    filter: invert(100%) opacity(0.9); /* Inverte as cores e ajusta a opacidade */
    filter: brightness(100) invert(5); 
}

img {
    width: 90%;
    height: 70%;
    display: flex;
}